.header {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background-color: var(--main-dark-background);
}

#header-container{
  display: flex;
  flex-direction: row;
  justify-content: center;  
  height: 100rem;
}

#left-side-header {
  width: 68%;
  background-color: var(--main-dark-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


#right-side-header {
  width: 32%;
  background-color: var(--main-yellow);
  background-image: radial-gradient(var(--main-dark-color) 1px, transparent 0);
  background-size: 6rem 6rem;
}


#left-side-container {
  width: 60%;
  position: relative;
}

#home-btn {
  text-decoration: none;
  color: var(--main-yellow);
  position: absolute;
  letter-spacing: 0.18rem;
  font-weight: 600;
  top: 3.5rem;
  left: 3.5rem;
  font-size: 2.8rem;
  text-decoration: none;
  z-index: 11;
}

#job-title {
  color:var(--main-yellow);
  font-size: 6.4rem;
  width: 50%;
  line-height: 1;
  text-align: left;
}

#job-sub-p {
  font-size: 2.8rem;
  text-align: left;
  width: 64%;
  color:var(--main-header-text);
  margin-top: 2.8rem;
  margin-bottom: 3.6rem;
}

#button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  width: 32rem;

}

.header-button {
  padding: 0.8rem 1.6rem;
  border: 1px solid var(--main-yellow);
  text-decoration: none;
  font-size: 1.8rem;
  border-radius: 12rem;
  transition: 0.3s;
}

#learn-more-btn-header{
  background-color: var(--main-yellow);
  color: var(--main-dark-color);
}

#learn-more-btn-header:hover{
  background-color: var(--main-dark-color);
  color: var(--main-yellow);
  box-shadow: 0 0 11px var(--main-yellow); 
}

#contact-me-btn-header{
  background-color: var(--main-dark-color);
  color: var(--main-yellow);
}

#contact-me-btn-header:hover{
  
  background-color: var(--main-yellow);
  color: var(--main-dark-color);
}


#profile-img-container {
  width: 46rem;
  height: 46rem;
  background-image: url("../assets/header-profile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%; /* Center the image vertically */
  left: 100%; /* Move the image to the right edge of the left-side-header */
  transform: translate(0, -50%); /* Adjust the position to the center of the image */
  z-index: 11; /* Ensure the image is above other elements */
  transition: 1s;
}

#floating-square {
  position: absolute;
  width: 46rem;
  height: 46rem;
  border: 2px solid #FCFCFC; /* Set the background color of the square */
  top: 50%; /* Center the image vertically */
  left: 100%; /* Move the image to the right edge of the left-side-header */
  transform: translate(10%, -40%); 
  z-index: 1; /* Ensure the square is behind the profile image */
}

