.App {
  text-align: center;
  background-color: #6B818C;
}

html {
  font-size: 10px;
  color: var(--main-dark-color);
}

* {
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

:root {
  --main-dark-color: #042A2B;
  --main-light-color: #F1D302;
  --main-background: #5EB1BF;
}
