.App {
  text-align: center;
  background-color: #6B818C;
}

html {
  font-size: 10px;
  color: var(--main-dark-background);
}

* {
  margin: 0;
  padding: 0;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

:root {
  --main-dark-color: #042A2B;
  --main-dark-background: #1d3f40;
  --main-light-background: #cdd4d5;
  --main-yellow: #F1D302;
  --main-header-text: #5EB1BF;
}

:root {
  --shadow: #43a047;
  --scrollbarBG: #eee;
  --thumbBG: #66bb6a;
}
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: var(--main-yellow);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-dark-background);
  box-shadow: 0 -100vh 0 100vh var(--main-dark-color), 0 0 15px 5px black;
}

@media screen  and (max-width: 1440px){
  html {
    font-size: 8px;
  }
}

@media screen  and (max-width: 1080px){
  html {
    font-size: 7px;
  }
}
